<a href="https://colab.research.google.com/github/natthanich/bsc_dpdm22/blob/main/%5Bdataprep1%5Dproperty_estimator(%E0%B9%83%E0%B8%8A%E0%B9%89%E0%B8%AD%E0%B8%B1%E0%B8%99%E0%B8%99%E0%B8%B5%E0%B9%89).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#เชื่อม google drive 
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/bsc_DPDM_data')

!pwd #เช็ค paht ที่กำลังทำงานอยู่

/content/drive/MyDrive/bsc_DPDM_data

In [3]:
import pandas as pd

# การหาค่า MAPE

## บ้าน

In [4]:
from sklearn.metrics import mean_absolute_percentage_error as MAPE

In [5]:
Home = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน1.xlsx',sheet_name='บ้าน')
id1 = Home[Home['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])  #ในที่นี้ควร Dropna เพราะไม่ทราบค่า //เเต่มีวิธีที่ดีกว่า คือการที่ดูปัจจัยแวดล้อมแล้วนำมาวิเคราะห์หาแนวโน้มของข้อมูลิล // เอาทุกค่าที่่มีอยู่มาสร้างโมเดลเพื่อทำนายค่าที่หายไป
id2 = Home[Home['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมินโดย1'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมินโดย1','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมินโดย1'])
two2one = MAPE(id2_d['ประเมินโดย1'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้งสอง {((one2two)+(two2one))*50:.2f}%') #เฉลี่ยเพื่อหาความผิดพลาดระหว่าง 1 และ 2
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 13.75%
นักประเมิน คนที่ 2 = 9.51%
ความผิดพลาดระหว่างนักประเมินทั้งสอง 13.54%
จำนวนทรัพย์ทั้งหมด 61 ทรัพย์

In [6]:
id2_d.columns

Index(['ID ผู้ประเมิน', 'post id', 'property_type',
       'ความมั่นใจในการเมินราคาทรัพย์', 'ราคาทรัพย์', 'ประเมินราคาซื้อ-ขาย',
       'ปัจจัยในการประเมินราคาซื้อ-ขาย', 'เหตุผลไม่มั่นใจราคาประเมิน',
       'ให้คะแนนทรัพย์', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'ประเมินโดย1'],
      dtype='object')

In [7]:
home = id2_d[['post id','ราคาทรัพย์','ประเมินโดย1', 'ประเมินราคาซื้อ-ขาย']]

In [8]:
home.rename(columns={'ประเมินราคาซื้อ-ขาย': 'ประเมินโดย2'},inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

## ที่ดิน

In [9]:
from sklearn.metrics import mean_absolute_percentage_error as MAPE

In [10]:
Land = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน1.xlsx',sheet_name='ที่ดิน')
id1 = Land[Land['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = Land[Land['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมินโดย1'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมินโดย1','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมินโดย1'])
two2one = MAPE(id2_d['ประเมินโดย1'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้งสอง {((one2two)+(two2one))*50:.2f}%') #เฉลี่ยเพื่อหาความผิดพลาดระหว่าง 1 และ 2
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 53.94%
นักประเมิน คนที่ 2 = 25.89%
ความผิดพลาดระหว่างนักประเมินทั้งสอง 58.21%
จำนวนทรัพย์ทั้งหมด 40 ทรัพย์

In [11]:
id2_d.columns

Index(['ID ผู้ประเมิน', 'post id', 'property_type',
       'ความมั่นใจในการเมินราคาทรัพย์', 'ราคาทรัพย์', 'ประเมินราคาซื้อ-ขาย',
       'ปัจจัยในการประเมินราคาซื้อ-ขาย', 'เหตุผลไม่มั่นใจราคาประเมิน',
       'ให้คะแนนทรัพย์', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'ประเมินโดย1'],
      dtype='object')

In [12]:
land = id2_d[['post id','ราคาทรัพย์','ประเมินโดย1', 'ประเมินราคาซื้อ-ขาย']]

In [13]:
land.rename(columns={'ประเมินราคาซื้อ-ขาย': 'ประเมินโดย2'},inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

## ทาวน์โฮม

In [14]:
from sklearn.metrics import mean_absolute_percentage_error as MAPE

In [15]:
Townh = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน1.xlsx',sheet_name='ทาวน์โฮม')
id1 = Townh[Townh['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = Townh[Townh['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมินโดย1'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมินโดย1','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมินโดย1'])
two2one = MAPE(id2_d['ประเมินโดย1'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้งสอง {((one2two)+(two2one))*50:.2f}%') #เฉลี่ยเพื่อหาความผิดพลาดระหว่าง 1 และ 2
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 20.12%
นักประเมิน คนที่ 2 = 15.84%
ความผิดพลาดระหว่างนักประเมินทั้งสอง 11.66%
จำนวนทรัพย์ทั้งหมด 61 ทรัพย์

In [ ]:
id2_d.columns

In [ ]:
townh = id2_d[['post id','ราคาทรัพย์','ประเมินโดย1', 'ประเมินราคาซื้อ-ขาย']]

In [ ]:
townh.rename(columns={'ประเมินราคาซื้อ-ขาย': 'ประเมินโดย2'},inplace=True)

## อาคารพาณิชย์

In [25]:
from sklearn.metrics import mean_absolute_percentage_error as MAPE

In [32]:
Comm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน1.xlsx',sheet_name='อาคารพาณิชย์')
id1 = Comm[Comm['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = Comm[Comm['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมินโดย1'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมินโดย1','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมินโดย1'])
two2one = MAPE(id2_d['ประเมินโดย1'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้งสอง {((one2two)+(two2one))*50:.2f}%') #เฉลี่ยเพื่อหาความผิดพลาดระหว่าง 1 และ 2
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 25.45%
นักประเมิน คนที่ 2 = 12.43%
ความผิดพลาดระหว่างนักประเมินทั้งสอง 19.28%
จำนวนทรัพย์ทั้งหมด 10 ทรัพย์

In [ ]:
id2_d.columns

In [34]:
comm = id2_d[['post id','ราคาทรัพย์','ประเมินโดย1', 'ประเมินราคาซื้อ-ขาย']]

In [35]:
comm.rename(columns={'ประเมินราคาซื้อ-ขาย': 'ประเมินโดย2'},inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

# เขียน function ตรวจสอบค่าที่เติม 0 ผิด

In [19]:
max(10,2)

10

In [20]:
def check_v(in1,in2):
    return max(in1/in2,in2/in1)

In [21]:
check_v(100,12)

8.333333333333334

### สร้าง column ใหม่ ลงในตาราง home โดย ค่าใน column คือค่า จาก function check(ราคาตั้งขาย,ราคาประเมิน1)

#### วิธีเพื่อน

In [ ]:
# วิธีเพื่อน ได้เหมือนกัน ง่าย กว่า // ใช้คู่กับ  def check_v(in1,in2):   // ต้องสร้าง function  มาก่อน
                                         #return max(in1/in2,in2/in1)
home['check1']=home.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย1']),axis=1)
home['check2']=home.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย2']),axis=1)
home

### บ้าน

In [22]:
check1 = list()
for row in home.iterrows():
    check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินโดย1']))
home['check1'] = check1

check2 = list()
for row in home.iterrows():
    check2.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินโดย2']))
home['check2'] = check2

home

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000,1.000000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0,2400000.0,1.181818,1.083333
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.180000,1.525424
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0,3700000.0,1.257143,1.189189
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.100000,1.100000
...,...,...,...,...,...,...
113,https://nayoo.co/khonkaen/posts/23,5230000.0,5000000.0,5000000.0,1.046000,1.046000
115,https://nayoo.co/khonkaen/posts/28,1750000.0,1600000.0,1900000.0,1.093750,1.085714
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.250000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0,1.000000,1.025641
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0,1400000.0,1.145833,1.018182

### ที่ดิน

In [23]:
check1 = list()
for row in land.iterrows():
    check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินโดย1']))
land['check1'] = check1

check2 = list()
for row in land.iterrows():
    check2.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินโดย2']))
land['check2'] = check2

land

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
1,https://nayoo.co/khonkaen/posts/1033,2800000.0,1800000.0,2000000.0,1.555556,1.400000
4,https://nayoo.co/khonkaen/posts/1711,14900000.0,8000000.0,12000000.0,1.862500,1.241667
7,https://nayoo.co/khonkaen/posts/1726,90000000.0,18000000.0,70000000.0,5.000000,1.285714
10,https://nayoo.co/khonkaen/posts/1732,65000000.0,35000000.0,60000000.0,1.857143,1.083333
13,https://nayoo.co/khonkaen/posts/1866,3000000.0,2200000.0,2500000.0,1.363636,1.200000
16,https://nayoo.co/khonkaen/posts/1962,6000000.0,4000000.0,5000000.0,1.500000,1.200000
19,https://nayoo.co/khonkaen/posts/2007,16500000.0,3500000.0,13000000.0,4.714286,1.269231
22,https://nayoo.co/khonkaen/posts/2040,2200000.0,2500000.0,2500000.0,1.136364,1.136364
25,https://nayoo.co/khonkaen/posts/2045,12000000.0,7500000.0,10000000.0,1.600000,1.200000
28,https://nayoo.co/khonkaen/posts/2068,6700000.0,5600000.0,6000000.0,1.196429,1.116667
31,https://nayoo.co/khonkaen/posts/2194,2400000.0,2000000.0,1800000.0,1.200000,1.333333
33,https://nayoo.co/khonkaen/posts/2206,6000000.0,5000000.0,5500000.0,1.200000,1.090909
35,https://nayoo.co/khonkaen/posts/3219,4500000.0,4000000.0,1600000.0,1.125000,2.812500
37,https://nayoo.co/khonkaen/posts/3305,14000000.0,12000000.0,14000000.0,1.166667,1.000000
39,https://nayoo.co/khonkaen/posts/3515,3300000.0,3150000.0,3500000.0,1.047619,1.060606
41,https://nayoo.co/khonkaen/posts/3601,2300000.0,1900000.0,1200000.0,1.210526,1.916667
70,https://nayoo.co/khonkaen/posts/1639,3000000.0,12000000.0,3500000.0,4.000000,1.166667
72,https://nayoo.co/khonkaen/posts/1861,12000000.0,10000000.0,10000000.0,1.200000,1.200000
76,https://nayoo.co/khonkaen/posts/1716,28000000.0,22000000.0,25000000.0,1.272727,1.120000
78,https://nayoo.co/khonkaen/posts/3447,980000.0,1000000.0,800000.0,1.020408,1.225000
100,https://nayoo.co/khonkaen/posts/1663,1485000.0,1500000.0,1200000.0,1.010101,1.237500
102,https://nayoo.co/khonkaen/posts/1685,2900000.0,1600000.0,2500000.0,1.812500,1.160000
104,https://nayoo.co/khonkaen/posts/1921,8080000.0,2800000.0,8000000.0,2.885714,1.010000
106,https://nayoo.co/khonkaen/posts/2151,1390000.0,1000000.0,1200000.0,1.390000,1.158333
108,https://nayoo.co/khonkaen/posts/2199,1300000.0,1000000.0,1200000.0,1.300000,1.083333
110,https://nayoo.co/khonkaen/posts/3227,1390000.0,1000000.0,1200000.0,1.390000,1.158333
128,https://nayoo.co/khonkaen/posts/600,13162000.0,12000000.0,12000000.0,1.096833,1.096833
130,https://nayoo.co/khonkaen/posts/1599,2500000.0,2500000.0,2200000.0,1.000000,1.136364
132,https://nayoo.co/khonkaen/posts/1638,4500000.0,2000000.0,4000000.0,2.250000,1.125000
134,https://nayoo.co/khonkaen/posts/1828,850000.0,1000000.0,800000.0,1.176471,1.062500
136,https://nayoo.co/khonkaen/posts/2499,5900000.0,5200000.0,5000000.0,1.134615,1.180000
138,https://nayoo.co/khonkaen/posts/2510,15000000.0,12000000.0,12000000.0,1.250000,1.250000
140,https://nayoo.co/khonkaen/posts/3196,950000.0,800000.0,900000.0,1.187500,1.055556
142,https://nayoo.co/khonkaen/posts/3239,1900000.0,1200000.0,1500000.0,1.583333,1.266667
144,https://nayoo.co/khonkaen/posts/3341,1700000.0,1600000.0,9000000.0,1.062500,5.294118
146,https://nayoo.co/khonkaen/posts/3506,12075000.0,10000000.0,10000000.0,1.207500,1.207500
148,https://nayoo.co/khonkaen/posts/3561,7374550.0,6000000.0,80000000.0,1.229092,10.848120
150,https://nayoo.co/khonkaen/posts/3576,2000000.0,1600000.0,2200000.0,1.250000,1.100000
152,https://nayoo.co/khonkaen/posts/3593,2500000.0,3200000.0,2200000.0,1.280000,1.136364
154,https://nayoo.co/khonkaen/posts/5194,12075000.0,10000000.0,10000000.0,1.207500,1.207500

### ทาวน์โฮม

In [24]:
check1 = list()
for row in townh.iterrows():
    check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินโดย1']))
townh['check1'] = check1

check2 = list()
for row in townh.iterrows():
    check2.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินโดย2']))
townh['check2'] = check2

townh

<ipython-input-24-0f358cf9617a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  townh['check1'] = check1
<ipython-input-24-0f358cf9617a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  townh['check2'] = check2

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
1,https://nayoo.co/khonkaen/posts/548,1045000.0,700000.0,1500000.0,1.492857,1.435407
3,https://nayoo.co/khonkaen/posts/549,935000.0,700000.0,1500000.0,1.335714,1.604278
5,https://nayoo.co/khonkaen/posts/579,3520000.0,3500000.0,4000000.0,1.005714,1.136364
7,https://nayoo.co/khonkaen/posts/580,3850000.0,3500000.0,3200000.0,1.100000,1.203125
9,https://nayoo.co/khonkaen/posts/582,990000.0,1000000.0,800000.0,1.010101,1.237500
...,...,...,...,...,...,...
176,https://nayoo.co/khonkaen/posts/3528,2190000.0,350000.0,400000.0,6.257143,5.475000
177,https://nayoo.co/khonkaen/posts/3599,1700000.0,1800000.0,1700000.0,1.058824,1.000000
178,https://nayoo.co/khonkaen/posts/3661,1900000.0,2000000.0,1900000.0,1.052632,1.000000
179,https://nayoo.co/khonkaen/posts/3719,1550000.0,1400000.0,1500000.0,1.107143,1.033333
196,https://nayoo.co/khonkaen/posts/616,1540000.0,1500000.0,1500000.0,1.026667,1.026667

### อาคารพาณิชย์

In [36]:
check1 = list()
for row in comm.iterrows():
    check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินโดย1']))
comm['check1'] = check1

check2 = list()
for row in comm.iterrows():
    check2.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินโดย2']))
comm['check2'] = check2

comm

<ipython-input-36-b4dc28ab9d7f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comm['check1'] = check1
<ipython-input-36-b4dc28ab9d7f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comm['check2'] = check2

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
1,https://nayoo.co/khonkaen/posts/6,7000000.0,6000000.0,8000000.0,1.166667,1.142857
3,https://nayoo.co/khonkaen/posts/17,12000000.0,12000000.0,12000000.0,1.000000,1.000000
5,https://nayoo.co/khonkaen/posts/21,22500000.0,13500000.0,20000000.0,1.666667,1.125000
7,https://nayoo.co/khonkaen/posts/22,3500000.0,4000000.0,4000000.0,1.142857,1.142857
9,https://nayoo.co/khonkaen/posts/24,3900000.0,2200000.0,3000000.0,1.772727,1.300000
11,https://nayoo.co/khonkaen/posts/30,4800000.0,3600000.0,4000000.0,1.333333,1.200000
13,https://nayoo.co/khonkaen/posts/35,2400000.0,2500000.0,2100000.0,1.041667,1.142857
15,https://nayoo.co/khonkaen/posts/497,5000000.0,3800000.0,5000000.0,1.315789,1.000000
17,https://nayoo.co/khonkaen/posts/498,7000000.0,7000000.0,8000000.0,1.000000,1.142857
19,https://nayoo.co/khonkaen/posts/499,9000000.0,8000000.0,10000000.0,1.125000,1.111111

# การหาค่า MAPE หลังทำการตรวจสอบค่าที่เติม 0 ผิด

## บ้าน

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error as MAPE

In [37]:
Home = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/แก้-คำตอบนักประเมิน1.xlsx',sheet_name='บ้าน')
id1 = Home[Home['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])  #ในที่นี้ควร Dropna เพราะไม่ทราบค่า //เเต่มีวิธีที่ดีกว่า คือการที่ดูปัจจัยแวดล้อมแล้วนำมาวิเคราะห์หาแนวโน้มของข้อมูลิล // เอาทุกค่าที่่มีอยู่มาสร้างโมเดลเพื่อทำนายค่าที่หายไป
id2 = Home[Home['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมินโดย1'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมินโดย1','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมินโดย1'])
two2one = MAPE(id2_d['ประเมินโดย1'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้งสอง {((one2two)+(two2one))*50:.2f}%') #เฉลี่ยเพื่อหาความผิดพลาดระหว่าง 1 และ 2
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 13.75%
นักประเมิน คนที่ 2 = 9.51%
ความผิดพลาดระหว่างนักประเมินทั้งสอง 13.54%
จำนวนทรัพย์ทั้งหมด 61 ทรัพย์

## ที่ดิน

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error as MAPE

In [38]:
Land = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/แก้-คำตอบนักประเมิน1.xlsx',sheet_name='ที่ดิน')
id1 = Land[Land['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = Land[Land['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมินโดย1'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมินโดย1','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมินโดย1'])
two2one = MAPE(id2_d['ประเมินโดย1'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้งสอง {((one2two)+(two2one))*50:.2f}%') #เฉลี่ยเพื่อหาความผิดพลาดระหว่าง 1 และ 2
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')
# %หลังทำการตัด 0 เกินออกมี error น้อยกว่า

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 53.94%
นักประเมิน คนที่ 2 = 23.82%
ความผิดพลาดระหว่างนักประเมินทั้งสอง 42.37%
จำนวนทรัพย์ทั้งหมด 40 ทรัพย์

## ทาวน์โฮม

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error as MAPE

In [39]:
Townh = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/แก้-คำตอบนักประเมิน1.xlsx',sheet_name='ทาวน์โฮม')
id1 = Townh[Townh['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = Townh[Townh['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมินโดย1'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมินโดย1','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมินโดย1'])
two2one = MAPE(id2_d['ประเมินโดย1'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้งสอง {((one2two)+(two2one))*50:.2f}%') #เฉลี่ยเพื่อหาความผิดพลาดระหว่าง 1 และ 2
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 11.69%
นักประเมิน คนที่ 2 = 8.64%
ความผิดพลาดระหว่างนักประเมินทั้งสอง 11.63%
จำนวนทรัพย์ทั้งหมด 60 ทรัพย์

## อาคารพาณิชย์

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error as MAPE

In [40]:
Comm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/แก้-คำตอบนักประเมิน1.xlsx',sheet_name='อาคารพาณิชย์')
id1 = Comm[Comm['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = Comm[Comm['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมินโดย1'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมินโดย1','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมินโดย1'])
two2one = MAPE(id2_d['ประเมินโดย1'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้งสอง {((one2two)+(two2one))*50:.2f}%') #เฉลี่ยเพื่อหาความผิดพลาดระหว่าง 1 และ 2
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 25.45%
นักประเมิน คนที่ 2 = 12.43%
ความผิดพลาดระหว่างนักประเมินทั้งสอง 19.28%
จำนวนทรัพย์ทั้งหมด 10 ทรัพย์